{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <!-- Buttons -->
                <a href="{{ path('new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    agendapunt toevoegen
                </a>

                <a href="/web/app_dev.php/createagenda" class="btn btn-default">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    Genereren
                </a>
                <!-- EndButtons -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Agenda
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            {#<th>Datum</th>#}
                            <th>Status</th>
                            <th>Eventnummer</th>
                            <th>Omschrijving</th>
                            <th>Actie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                        <tr>
                            <th scope="row">{{ event.id }}</th>
                            {#<td>{{ event.date }}</td>#}
                            <td>                                    <i class="fa fa-exclamation"></i>
                            </td>
                            <td>{{ event.number }}</td>
                            <td>{{ event.description.text }} </td>
                            <td><a href="{{ path('show', {'eventId': event.id}) }}"><i class="fa fa-link"></i></a> |
                                <a href="{{ path('delete', {'eventId': event.id}) }}"><i class="glyphicon glyphicon-remove" style="color: red;"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
