{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="{{ path('overview') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Terug naar overzicht
            </a>

            <a href="{{ path('delete', {'eventId': event.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Verwijderen
            </a>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Agenda van #8
                </div>
                <table class="table">
                    <tr>
                        <th>Datum</th>
                        <td>18-01-2016</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ event.status }}</td>
                    </tr>
                    <tr>
                        <th>Eventnummer</th>
                        <td>{{ event.number }}</td>
                    </tr>
                    <tr>
                        <th>Omschrijving</th>
                        <td>{{ event.description.text }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
